<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<!-- "collapse navbar-collapse" id="navbarColor01" -->
<h1>Footer</h1>

<footer class="footer  bg-primary text-center show"> 
        <p>
            Copyright - 2019
        </p>

        <!-- <div>
            <h2>About</h2>
            <p>Text About</p>
        </div>
        <div>
            <ul>
                <li>contact</li>
                <li></li>
            </ul>
        </div>
        <div>
            <ul>
                <li>contact</li>
                <li></li>
            </ul>
        </div>
        <div>
            <ul>
                <li>contact</li>
                <li></li>
            </ul>
        </div> -->
</footer>
